.l-header {
    background-color: rgba(255, 255, 255, 0.3);

    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;

    @include cmq(880px) {
        background-color: transparent;
    }

    .l-container {
        padding: 30px 50px;

        // Grid
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include cmq(880px) {
            padding: 15px 30px;
        }
    }

    .i-logo {
        &-title {
            color: $primary_green;
            font-weight: 600;
            font-size: 1.8em;
        }
    }

    .i-header-menu {
        &-link {
            margin-left: 20px;

            &:not(.is-active) {
                color: $primary_black;
            }

            font-size: 1.1em;

            text-decoration: none;

            position: relative;

            transition: color 0.15s ease-in-out;

            &:before {
                content: '';

                width: 0%;
                height: 1px;
                background-color: $primary_green_hover;

                position: absolute;
                bottom: -1px;
                left: 0;

                transition: width 0.15s ease-in-out;

                @include cmq(880px) {
                    bottom: -10px;
                }
            }

            &:not(.is-active) {

                &:hover,
                &:focus {
                    color: $primary_green_hover;
                }

                &:hover:before,
                &:focus:before {
                    width: 100%;
                }
            }

            &.is-active {
                color: $primary_green_hover;

                &:before {
                    width: 100%;
                }
            }

            @include cmq(880px) {
                display: block;

                margin-bottom: 25px;
                margin-left: 0;
                padding-left: 30px;

                font-size: 1.6em;
            }

        }

        @include cmq(880px) {
            width: 100%;
            max-width: 300px;
            height: 100%;

            padding: 50px 0;

            background-color: #fff;

            position: fixed;
            right: 0;
            top: 0;
            z-index: 3;

            transition: 0.2s ease-in-out;
            transform: translateX(100%);
        }
    }
}