.mobile {
    &-menu {
        &-button {
            display: none;

            padding: 10px;
            background-color: rgba(109, 109, 109, 0.43);

            transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;

            &-line {
                width: 25px;
                height: 3px;

                &:not(:last-child) {
                    margin-bottom: 5px;
                }

                background-color: #fff;

                transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
            }

            @include cmq(880px) {
                display: block;
            }
        }
    }
}