.i-primary-title {
    margin-bottom: 30px;

    font-weight: 600;
    color: $primary_black;
    font-size: 1.2em;
}

.i-primary-text {
    margin-bottom: 40px;

    font-weight: 400;
    color: $optional_blue;
    font-size: 1em;
    line-height: 1.7;
}


.text-break {
    display: block;
}

.i-link {
    // grid
    display: flex;
    align-items: center;

    font-weight: 600;
    font-size: 0.8em;
    text-transform: uppercase;
    text-decoration: none;

    &-text {
        padding-right: 10px;

        color: $primary_green;

        transition: color 0.15s ease-in-out;
    }

    &-icon {
        width: 12px;
        height: 12px;

        fill: $primary_green;

        transition: fill 0.15s ease-in-out;
    }

    &:hover .i-link-text,
    &:focus .i-link-text {
        color: $primary_green_hover;
    }

    &:hover .i-link-icon,
    &:focus .i-link-icon {
        fill: $primary_green_hover
    }

}