.l-header {

    &.is-scrolled {
        background-color: #fff;

        .l-container {
            padding: 10px 30px;
        }

        @include cmq(880px) {
            background-color: transparent;
        }
    }

    .i-header-menu {
        &.is-menu-visible {
            transform: translateX(0%);
        }
    }
}

.mobile {
    &-menu {
        &-button {
            &.is-adaptive-menu-active {
                background-color: transparent;

                transform: translateX(-100%);

                position: relative;
                z-index: 4;

                .mobile-menu-button-line {
                    background-color: $primary_black;

                    &:nth-child(1) {
                        transform: translateX(7px);
                    }

                    &:nth-child(2) {
                        transform: translateX(-3px);
                    }

                    &:nth-child(3) {
                        transform: translateX(3px);
                    }
                }
                
            }

        }
    }
}