/* 
    Fonts 
*/
$font: 'DM Sans';

/* 
    Layouts
*/

$c_mw: 1140px;
$c_mw_a: 600px;

/* 
    Colors
*/
$primary_black: #000;
$primary_green: #207561;
$optional_blue: #364d59;
$outline_green: rgba(32, 116, 96, 0.5);
$optional_gray: #888;

/* 
    Events
*/
$primary_green_hover: rgb(24, 87, 72);

/* 
    Icon font
*/
$font-Flaticon-facebook: "\f100";
$font-Flaticon-twitter: "\f101";
$font-Flaticon-logo: "\f102";
$font-Flaticon-linkedin: "\f103";
$font-Flaticon-quote: "\f104";
$font-Flaticon-next: "\f105";