.projects-screen {
    margin-top: 80px;

    .i-col {
        margin-bottom: 50px;

        // grid 
        display: flex;
        justify-content: space-between;
        align-items: center;

        .i-link {
            margin: 0;
        }

        @include cmq(880px) {
            margin-bottom: 15px;
        }
    }

    .i-slider-pagination {
        bottom: 15%;
    }


    .i-our-projects-image {
        @include cmq(880px) {
            max-height: 400px;
        }
    }

    .i-project-about {
        max-width: 630px;
        margin: -100px auto 0 auto;
        padding: 50px;

        background-color: #fff;

        position: relative;

        .i-subtitle,
        .i-optional-title {
            margin-bottom: 10px;
        }

        .i-primary-text {
            font-size: 1.2em;
            margin-bottom: 50px;
        }

        @include cmq(400px) {
            margin: -50px auto 0 auto;
            padding: 30px;
        }
    }
}